
.box .overlap {
  height: 1998px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1386px;
}



.box .overlap-wrapper {
  height: 719px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1322px;
}

.box .overlap-group {
  height: 719px;
  position: relative;
}

.box .div {
  height: 464px;
  left: 684px;
  position: absolute;
  top: 128px;
  width: 638px;
}

.box .group-2 {
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 363px;
}

.box .text-wrapper {
  color: #000000;
  font-family: "Clash Display-Bold", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  top: 32px;
  white-space: nowrap;
}

.box .text-wrapper-2 {
  color: #ff5454;
  font-family: "Clash Display-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 2.88px;
  line-height: 28px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.box .group-3 {
  height: 96px;
  left: 0;
  position: absolute;
  top: 112px;
  width: 640px;
}

.box .group-4 {
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 209px;
}

.box .budgeting-intervals {
  color: #000000;
  font-family: "Clash Display-Semibold", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 32px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.box .icon-instance-node {
  height: 24px !important;
  left: 0 !important;
  position: absolute !important;
  top: 2px !important;
  width: 24px !important;
}

.box .cum-et-convallis {
  color: #000000;
  font-family: "Clash Display-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  opacity: 0.5;
  position: absolute;
  top: 40px;
  width: 638px;
}

.box .group-5 {
  height: 96px;
  left: 0;
  position: absolute;
  top: 240px;
  width: 640px;
}

.box .group-6 {
  height: 96px;
  left: 0;
  position: absolute;
  top: 368px;
  width: 640px;
}

.box .overlap-group-wrapper {
  height: 719px;
  left: 0;
  position: absolute;
  top: 0;
  width: 719px;
}

.box .overlap-2 {
  height: 760px;
  position: relative;
}

.box .ellipse {
  border: 1px solid;
  border-color: #000000;
  border-radius: 190px/273.5px;
  height: 547px;
  left: 138px;
  position: absolute;
  top: 118px;
  transform: rotate(-45deg);
  width: 380px;
}

.box .ellipse-2 {
  border: 1px solid;
  border-color: #000000;
  border-radius: 190px/273.5px;
  height: 547px;
  left: 170px;
  position: absolute;
  top: 86px;
  transform: rotate(-45deg);
  width: 380px;
}

.box .ellipse-3 {
  border: 1px solid;
  border-color: #000000;
  border-radius: 190px/273.5px;
  height: 547px;
  left: 202px;
  position: absolute;
  top: 54px;
  transform: rotate(-45deg);
  width: 380px;
}

.box .iphone-pro-front {
  height: 704px;
  left: 183px;
  position: absolute;
  top: 56px;
  width: 449px;
}

.box .div-wrapper {
  height: 719px;
  left: 129px;
  position: absolute;
  top: 639px;
  width: 1239px;
}

.box .group-7 {
  height: 323px;
  left: 0;
  position: absolute;
  top: 198px;
  width: 535px;
}

.box .group-8 {
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 474px;
}

.box .group-9 {
  height: 211px;
  left: 0;
  position: absolute;
  top: 112px;
  width: 537px;
}

.box .arcu-at-dictum {
  color: #000000;
  font-family: "Clash Display-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  opacity: 0.5;
  position: absolute;
  top: 71px;
  width: 535px;
}

.box .group-10 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 338px;
}

.box .text-wrapper-3 {
  color: #000000;
  font-family: "Clash Display-Semibold", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 63px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.box .group-11 {
  background-color: #ff5454;
  border-radius: 24px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

.box .icon-instance-node-2 {
  height: 24px !important;
  left: 12px !important;
  position: absolute !important;
  top: 12px !important;
  width: 24px !important;
}

.box .group-12 {
  height: 719px;
  left: 520px;
  position: absolute;
  top: 0;
  width: 719px;
}

.box .iphone-pro-front-2 {
  height: 705px;
  left: 183px;
  position: absolute;
  top: 55px;
  width: 450px;
}

.box .on-hold {
  height: 61px;
  left: 996px;
  position: absolute;
  top: 980px;
  width: 203px;
}

.box .overlap-3 {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 4px 4px 40px #0000001a;
  height: 61px;
  position: relative;
  width: 201px;
}

.box .rectangle {
  height: 41px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 41px;
}

.box .text-wrapper-4 {
  color: #ff0000;
  font-family: "Nunito Sans", Helvetica;
  font-size: 7.4px;
  font-weight: 400;
  height: 8px;
  left: 158px;
  letter-spacing: 0;
  line-height: 7.4px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}

.box .group-13 {
  height: 30px;
  left: 63px;
  position: absolute;
  top: 16px;
  width: 65px;
}

.box .text-wrapper-5 {
  color: #191d2a;
  font-family: "Nunito Sans", Helvetica;
  font-size: 14.8px;
  font-weight: 700;
  height: 15px;
  left: 0;
  letter-spacing: 0.61px;
  line-height: 14.8px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.box .text-wrapper-6 {
  color: #888b92;
  font-family: "Nunito Sans", Helvetica;
  font-size: 8.6px;
  font-weight: 400;
  height: 9px;
  left: 0;
  letter-spacing: 0.31px;
  line-height: 8.6px;
  position: absolute;
  top: 21px;
  white-space: nowrap;
}

.box .group-14 {
  height: 719px;
  left: 2px;
  position: absolute;
  top: 1279px;
  width: 1244px;
}

.box .group-15 {
  height: 719px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1244px;
}

.box .group-wrapper {
  height: 211px;
  left: 682px;
  position: absolute;
  top: 254px;
  width: 562px;
}

.box .group-16 {
  height: 211px;
  position: relative;
  width: 564px;
}

.box .p {
  color: #000000;
  font-family: "Clash Display-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  opacity: 0.5;
  position: absolute;
  top: 71px;
  width: 562px;
}

.box .group-17 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 327px;
}

.box .group-18 {
  height: 159px;
  left: 259px;
  position: absolute;
  top: 225px;
  width: 262px;
}

.box .overlap-4 {
  -webkit-backdrop-filter: blur(27.89px) brightness(100%);
  backdrop-filter: blur(27.89px) brightness(100%);
  background-color: #000000;
  border-radius: 16px;
  height: 159px;
  position: relative;
  width: 260px;
}

.box .text-wrapper-7 {
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 12.7px;
  font-weight: 500;
  left: 17px;
  letter-spacing: 1.02px;
  line-height: normal;
  position: absolute;
  top: 102px;
}

.box .group-19 {
  height: 13px;
  left: 18px;
  position: absolute;
  top: 132px;
  width: 71px;
}

.box .text-wrapper-8 {
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 10.4px;
  font-weight: 400;
  left: 35px;
  letter-spacing: 0.83px;
  line-height: normal;
  position: absolute;
  top: 0;
}

.box .text-wrapper-9 {
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 4.8px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.38px;
  line-height: 4.8px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.box .credit-card-visa {
  height: 15px !important;
  left: 197px !important;
  position: absolute !important;
  top: 16px !important;
  width: 44px !important;
}

.box .group-20 {
  height: 17px;
  left: 18px;
  position: absolute;
  top: 15px;
  width: 58px;
}

.box .text-wrapper-10 {
  color: #ffffff;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 2px;
  font-weight: 800;
  left: 52px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  width: 4px;
}

.box .group-21 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 51px;
}

.box .frame {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.box .subtract {
  height: 16px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 13px;
}

.box .vector {
  height: 14px;
  left: 19px;
  position: absolute;
  top: 3px;
  width: 32px;
}

.box .star-4 {
  height: 58px;
  left: 735px;
  position: absolute;
  top: 2999px;
  width: 61px;
}

.box .star-5 {
  height: 58px;
  left: 1279px;
  position: absolute;
  top: 3747px;
  width: 61px;
}

.box .star-6 {
  height: 45px;
  left: 12px;
  position: absolute;
  top: 2772px;
  width: 45px;
}

.box .star-7 {
  height: 45px;
  left: 12px;
  position: absolute;
  top: 3970px;
  width: 45px;
}
